<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.sjtu.seiee.songrb.game2048">

    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".main_menu_activity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".game_menu_activity"></activity>
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".BlueRatio"></activity>

        <activity android:name=".guideline_activity"></activity>

        <activity android:name=".MainActivity_3"></activity>
        <activity
            android:name=".about_us_activity"
            android:label="About Us"
            android:parentActivityName=".main_menu_activity"></activity>
        <activity android:name=".MainActivity_2"></activity>

    </application>

</manifest>
